.menu-burger-container{
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  display: none;
}

.menu-burger, .menu-burger::before, .menu-burger::after{
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 48px;
  background-color: #f5f5f5;
  transition: all 500ms ease-in-out;
  z-index: 100;
}

.menu-burger::before{
  transform: translateY(-12px);
}

.menu-burger::after{
  transform: translateY(12px);
}

.menu-burger-container.show .menu-burger{
  background-color: transparent;
}

.menu-burger-container.show .menu-burger::before{
  transform: rotate(45deg);
}

.menu-burger-container.show .menu-burger::after{
  transform: rotate(-45deg);
}

@media (max-width:800px) {
  main{
    padding: 50px 30px;
  }

  .cabecalho{
    padding: 0 30px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }

  .cabecalho .exit-link {
    display: none;
  }
  
  .menu-burger-container{
    display:flex;
  }

  .submenu-filters{
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .submenu-filters.open {
    display: flex;
  }

  .flex-main {
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .flex-main .studant-image {
    display: none;
  }

  .main-text {
    width: auto;
    margin-top: 50px;
  }

  .svg-devices {
    display: none;
  }

  .contatos{
    display: none;
  }

  .rodape{
    align-items: center;
    padding: 0;
    padding-top: 15px;
    justify-content: center;
    flex-direction: column;
  }

  .alunos-grid {
    gap: 50px;
  }

  .aluno-card {
    width: 100%;
  }

  .flex-container-main {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .notas-container {
    flex-wrap: wrap;
  }

  .main-container{
    padding: 30px 0px;
    transition: all 500ms ease-in-out;
  }

  .person {
    height: 21.25rem;
    width: 21.25rem;
  }

  .student-photo {
    height: 250px;
    width: 250px;
  }

  .stats-container{
    width: 100%;
    min-width: auto;
    padding: 10px 20px;
  }

  .stats-container .notas-container {
    gap: 1.2rem;
    min-width: auto;
  }
}