:root{
  --main-color: #3347B0;
  --main-color-80: #3e55c7;
  --main-color-20: #3e55c75d;
  --white-text: #f5f5f5;
  --white-bg: #FFFFFF;
  --red-color:  #C11010 ;
  --cursando-color: #E5B657;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}