.aluno-card {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: var(--white-text);
  background-color: var(--main-color);
  border-radius: 12px;
}

.aluno-card img {
  width: 200px;
  height: 200px;
}